---
import { getCollection } from "astro:content"
import PostPreview from "../../components/PostPreview.astro"
import { sortPostsByDate } from "../../lib/date"
import Base from "../../layouts/Base.astro"

const posts = sortPostsByDate(await getCollection("blog", ({ data }) => data.isDraft !== true))

const title = "Ronit • blog"
---

<Base
  {title}
  description="Ronit Raj is a full stack developer with a passion for building things and shuffling cards. This is his personal website and here's some of the blog posts of him."
>
  <main class="prose">
    <h1>Blog</h1>

    <div class="my-8" />

    <div class="flex flex-col gap-12">
      {posts.map(post => <PostPreview {post} />)}
    </div>
  </main>
</Base>
